##############################
# Variables de configuracion #
##############################

DIR_BASE={{ dir_base }}
DIR_WORK={{ dir_work }}
DIR_LOG={{ dir_log }}
DIR_WORK_TEMP=$DIR_WORK/manage-dependencias
LOG=$DIR_LOG/manage-dependencias.log
GIT_COMMAND={{ git_command }}
APPLICATION_GIT_REPO=git@github.com:jclopeza/webapp.git
