##############################
# Variables de configuracion #
##############################

DIR_WORK={{ dir_work }}
DIR_BASE={{ dir_base }}
DIR_LOG={{ dir_log }}
DIR_WORK_TEMP=$DIR_WORK/delete-artifact-version
LOG=$DIR_LOG/delete-artifact-version.log
MVN_COMMAND={{ mvn_command }}
GIT_COMMAND={{ git_command }}


#########################################
# Variables de configuracion para NEXUS #
#########################################

NEXUS_VERSION={{ nexus_version }}
PROTOCOL_NEXUS={{ protocol_nexus }}
HOST_NEXUS={{ host_nexus }}
PORT_NEXUS={{ port_nexus }}
URL_NEXUS_REPOSITORY={{ url_nexus_repository }}
URL_NEXUS_REPOSITORY_V3={{ url_nexus_repository_v3 }}
USER_NEXUS={{ user_nexus }}
PASSWORD_NEXUS={{ password_nexus }}
