# PDS & Dashboard Settings

PDS_DB_HOST={{ pds_mysql_host }}
PDS_DB_PORT={{ pds_mysql_port }}
PDS_DB_NAME={{ pds_mysql_name }}
PDS_DB_USER={{ pds_mysql_user }}
PDS_DB_PASS={{ pds_mysql_password }}

MONGODB_HOST={{ mongodb_host }}
MONGODB_PORT={{ mongodb_port }}
MONGODB_DB={{ mongodb_db }}
MONGODB_USER={{ mongodb_user }}
MONGODB_PASS={{ mongodb_pass }}

MONGODB_BITBUCKET_USER={{ mongodb_bitbucket_user }}
MONGODB_BITBUCKET_USER_ENCRYPTED_PASSWORD={{ mongodb_bitbucket_user_encrypted_password }}
