##############################
# Variables de configuracion #
##############################

DIR_WORK={{ dir_work }}
DIR_BASE={{ dir_base }}
DIR_LOG={{ dir_log }}
DIR_WORK_TEMP=$DIR_WORK/deploy-application
LOG=$DIR_LOG/deploy-application.log

##############################
# Variables API Rest PDS     #
##############################

PROTOCOL_PDS={{ protocol_pds }}
HOST_PDS={{ host_pds }}
PORT_PDS={{ port_pds }}
END_POINT_PDS_GET_URL_ANSIBLE_COMPONENT=/api/get-artifacts-versions
