##############################
# Variables de configuracion #
##############################

DIR_BASE={{ dir_base }}
DIR_WORK={{ dir_work }}
DIR_LOG={{ dir_log }}
DIR_WORK_TEMP=$DIR_WORK/create-git-project
LOG=$DIR_LOG/create-git-project.log
GIT_COMMAND={{ git_command }}

#############################################
# Variables de configuracion para BitBucket #
#############################################

SSH_BITBUCKET=ssh://git@bitbucket.vocento.com:7999
PROTOCOL_BITBUCKET=https
HOST_BITBUCKET=bitbucket.vocento.com
PORT_BITBUCKET=443
PROJECT_BITBUCKET=DEV
USER_BITBUCKET=devops
PASSWORD_BITBUCKET=Pl4st1l1n4
