##############################
# Variables de configuracion #
##############################

DIR_WORK={{ dir_work }}
DIR_BASE={{ dir_base }}
DIR_LOG={{ dir_log }}
DIR_WORK_TEMP=$DIR_WORK/update-pom-version
LOG=$DIR_LOG/update-pom-version.log
BASE_DIR_PROJECTS=$DIR_WORK_TEMP
MVN_COMMAND={{ mvn_command }}
GIT_COMMAND={{ git_command }}
