##############################
# Variables de configuracion #
##############################

DIR_BASE={{ dir_base }}
DIR_WORK={{ dir_work }}
DIR_LOG={{ dir_log }}
DIR_WORK_TEMP=$DIR_WORK/update-pom-versions
LOG=$DIR_LOG/update-pom-versions.log
GIT_COMMAND={{ git_command }}
APPLICATION_GIT_REPO=( git@github.com:jclopeza/webapp.git git@github.com:jclopeza/webservices.git git@github.com:jclopeza/javabdd.git git@github.com:jclopeza/schemabdd.git git@github.com:jclopeza/tutorial.git )
