##############################
# Variables de configuracion #
##############################

DIR_BASE={{ dir_base }}
DIR_WORK={{ dir_work }}
DIR_LOG={{ dir_log }}
DIR_WORK_TEMP=$DIR_WORK/yaml-maker
LOG=$DIR_LOG/dar-maker.log
GIT_COMMAND={{ git_command }}